@{
    ViewData["Title"] = "Erro de cadastro";
}
<a href="/Computer/Index" class="btn btn-primary btn-sm btn-light">Voltar</a><br><br>
<h1>@ViewData["Title"]</h1>

<p>O computador com o Id @Model jรก foi cadastrado.</p>