@{
    ViewData["Title"] = "Cadastrar do Computador";
}
<a href="/Computer/Index" class="btn btn-primary btn-sm btn-light">Voltar</a><br><br>
<h1>@ViewData["Title"]</h1><br>

<form action="/Computer/ValidacaoCadastro" method="post">
    <table>
        <tr>
            <td><label for="id">Id:&nbsp;&nbsp;&nbsp;</label></td>
            <td><input type="number" name="id" id="id" required></td>
        </tr>
        <tr>
            <td><label for="ram">Memória RAM:</label></td>
            <td><input type="text" name="ram" id="ram" required> GB</td>
        </tr>
        <tr>
            <td><label for="processor">Processador:</label></td>
            <td><input type="text" name="processor" id="processor" required></td>
        </tr>
    </table><br>
    <input type="submit" class="btn btn-primary btn-sm btn-success" value="Cadastrar">
</form>