@model IEnumerable<MvcLabManager.Models.Computer>

@{
    ViewData["Title"] = "Computadores";
}
<h1>@ViewData["Title"]</h1>

@if(Model.Count() == 0)
{
    <p>Nenhum computador cadastrado</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ram</th>
                <th>Processor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var computer in Model)
            {
            <tr>
                <td>@computer.Id</td>
                <td>@computer.Ram</td>
                <td>@computer.Processor</td>
                <td>
                    <a 
                    href="/Computer/Show/@computer.Id" class="btn btn-primary btn-sm">Ver
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
