@model MvcLabManager.Models.Computer

@{
    ViewData["Title"] = $"Computador {Model.Id}";
}
<h1>@ViewData["Title"]</h1>

<p><b>Id:</b>@Model.Id</p>
<p><b>Ram:</b>@Model.Ram</p>
<p><b>Processor:</b>@Model.Processor</p>

