@model int

@{
    ViewData["Title"] = "Erro de Cadastro";
}
<a href="/Lab/Index" class="btn btn-primary btn-sm btn-light">Voltar</a><br><br>
<h1>@ViewData["Title"]</h1><br>

<p>O laboratório com Id @Model já foi cadastrado.</p>